In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [19]:
nc = pd.read_csv('new_cases.csv')
nd = pd.read_csv('new_deaths.csv')
tc = pd.read_csv('total_cases.csv')
td = pd.read_csv('total_deaths.csv')
nc = nc.fillna(0)
nd = nd.fillna(0)
tc = tc.fillna(0)
td = td.fillna(0)

In [20]:
nc.shape, nd.shape, tc.shape, td.shape

((111, 208), (111, 208), (111, 208), (111, 208))

In [21]:
nc.columns.values.tolist() == nd.columns.values.tolist() == tc.columns.values.tolist() == td.columns.values.tolist()

True

In [22]:
fecha = ['date']
cols = nc.columns.values.tolist()
countries = [v for v in cols if v not in fecha ]

# Para total cases

In [23]:
tc_c = []
for c in countries:
    country_tc = tc[c].values.tolist()
    count = []
    for i in range(len(country_tc)):
        num = len(country_tc) - 1
        if i == 0:
            count.append(country_tc[0])
        else:
            if country_tc[i] == 0:
                op = country_tc[i] + count[i-1]
                count.append(op)
            else:
                count.append(country_tc[i])
    tc_c.append(count)

In [24]:
tc_data = pd.DataFrame(data = tc_c)
tc_data = tc_data.T
tc_data.columns = countries
tc_final = pd.DataFrame()
tc_final['Date'] = tc['date']
for i in tc_data.columns.values.tolist():
    tc_final[i] = tc_data[i]

In [36]:
tc_final.T.to_csv('total_cases_final.csv')

# Para total deaths

In [26]:
tc_d = []
for c in countries:
    country_td = td[c].values.tolist()
    count = []
    for i in range(len(country_td)):
        num = len(country_td) - 1
        if i == 0:
            count.append(country_td[0])
        else:
            if country_td[i] == 0:
                op = country_td[i] + count[i-1]
                count.append(op)
            else:
                count.append(country_td[i])
    tc_d.append(count)

In [27]:
td_data = pd.DataFrame(data = tc_d)
td_data = td_data.T
td_data.columns = countries
td_final = pd.DataFrame()
td_final['Date'] = td['date']
for i in td_data.columns.values.tolist():
    td_final[i] = td_data[i]

In [35]:
td_final.T.to_csv('total_deaths_final.csv')

In [33]:
nc.T.to_csv('new_cases_final.csv')
nd.T.to_csv('new_deaths_final.csv')

In [34]:
nc.T

,0,1,2,3,4,5,6,7,8,9,...,101,102,103,104,105,106,107,108,109,110
date,2019-12-31,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,2020-01-09,...,2020-04-10,2020-04-11,2020-04-12,2020-04-13,2020-04-14,2020-04-15,2020-04-16,2020-04-17,2020-04-18,2020-04-19
World,27,0,0,17,0,15,0,0,0,0,...,87039,89349,81707,72390,65962,75246,81419,84339,83324,84121
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,61,37,34,52,58,49,70,10,51,63
Albania,0,0,0,0,0,0,0,0,0,0,...,9,7,17,13,21,8,19,24,21,9
Algeria,0,0,0,0,0,0,0,0,0,0,...,94,95,64,89,69,87,90,108,150,117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,0,0,0,0,0,0,0,0,0,0,...,4,4,0,6,8,4,4,7,23,0
Vietnam,0,0,0,0,0,0,0,0,0,0,...,4,2,1,4,3,9,1,0,1,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
Zambia,0,0,0,0,0,0,0,0,0,0,...,0,1,0,3,2,0,3,0,4,5
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,0,0,3,0,3,0,6,1,0,1